# Lagulos Final Project

## Introduction
This is my final project for coursera

## Data Science Languages
- Python
- R
- Julia
- SQL
- Java
- Scala

## Data Science Libraries
- Pandas
- NumPy
- SciPy
- Scikit-learn
- TensorFlow
- Keras
- PyTorch
- Matplotlib

## Data Science Tools
| Tool               | Description                             |
|--------------------|-----------------------------------------|
| Jupyter Notebook   | Interactive computing environment       |
| RStudio            | IDE for R programming                   |
| Apache Zeppelin    | Web-based notebook for data analytics   |
| Anaconda           | Distribution for scientific computing   |

## Arithmetic Expression Examples
Here are examples of arithmetic operations such as addition and multiplication.

In [1]:
# Example of multiplication and addition
a = 5
b = 10
c = 15
result = (a * b) + c
result

65

In [2]:
# Conversion from minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- List common data science languages.
- List popular data science libraries.
- Showcase various data science tools.
- Demonstrate basic arithmetic operations.
- Convert units of measurement.

## Author
CJ TOM CARLOS M. LAGULOS